In [17]:
#lab-25
#97
n=4
num=1
for i in range(1,n+1):
    for j in range(i):
        print(num, end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [19]:
#98
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
#99
for i in range(1,6):
    for j in range(1, i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [24]:
#lab-26
#100
for i in range(1,7):
    for j in range(1, i+0):
        print(j, end=" ")
    print(1)

1
1 1
1 2 1
1 2 3 1
1 2 3 4 1
1 2 3 4 5 1

In [29]:
#101
for i in range(1,6):
    for j in range(1,7-i):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [30]:
#102
for i in range(1,6):
    for j in range(1,7-i):
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [37]:
#lab-27
#103
for i in range(5, 0 , -1):
    for j in range(i+1,1,-1):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [74]:
#104
for i in range(5, 0 , -1):
    for j in range(5, 5-i, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [66]:
#105
for i in range(5, 0 , -1):
    for j in range(5, i-1, -1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [82]:
#lab-28
# #106
for i in range(1,6):
    print(i*"  ",end=" ")
    for j in range(1, 7-i):
        print(i, end=" ")
    print()

   1 1 1 1 1
     2 2 2 2
       3 3 3
         4 4
           5

In [ ]:
#107
for i in range(1,6):
    print((i)*"  ",end=" ")
    for j in range(1,7-i):
        print(j, end=" ")
    print()

   1 2 3 4 5
     1 2 3 4
       1 2 3
         1 2
           1

In [171]:
#108
for i in range(1, 6):
    print("  " * (i - 1), end="")
    for j in range(i, 6):
        print(j, end=" ")
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [ ]:
#lab-29
#109
for i in range(1, 6):
    print((6-i)*"  ",end=" ")
    for j in range(1,i+1):
        print(j, end=" ")
    print()

           1
         1 2
       1 2 3
     1 2 3 4
   1 2 3 4 5

In [205]:
#110
for i in range(1, 6):
    print("  " * (i - 1), end="")
    for j in range(i, 6):
        print(j, end=" ")
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [263]:
#111
for i in range(0, 5):
    print("  " * i, end="")
    for j in range(5, i, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [273]:
#112
for i in range(5, 0, -1):
    print("  " * (i-1), end="")
    for j in range(6-i):
        print(5-j, end=" ")
    print()

        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [296]:
#lab-30
#114
for i in range(5, 0 ,-1):
    print("  " * (i-1), end="")
    for j in range(i,6):
        print(j, end=" ")
    print()

        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5